# FIXME: uWSGI has trouble building under Alpine Linux. The difference between
# Debian and Alpine cannot be determined using environment markers.
# https://github.com/unbit/uwsgi/issues/1318
uWSGI==2.0.14

# These have pre-compiled manylinux packages on CPython but not on PyPy
cffi==1.10.0; platform_python_implementation!='CPython'
Pillow==4.0.0; platform_python_implementation!='CPython'
# pyscopg2 is not compatible with PyPy
