cairocffi==1.1.0; python_version>='3.5'
hiredis==1.1.0
mysqlclient==1.4.6
psycopg2==2.8.6
psycopg2cffi==2.8.1
# https://github.com/snowballstem/pystemmer/issues/18
PyStemmer==1.3.0; platform_python_implementation=='CPython' and python_version<'3.7'
python_axolotl_curve25519==0.4.1.post2
rcssmin==1.0.6
regex==2020.10.22
rjsmin==1.1.0
subprocess32==3.5.2; python_version<'3'
Twisted==20.3.0
ujson==2.0.3
uWSGI==2.0.19.1

# psutil doesn't work on some pypy versions: https://github.com/giampaolo/psutil/issues/1659
psutil==5.7.2; platform_python_implementation=='CPython'

# These have pre-compiled manylinux packages on CPython but not on PyPy
cryptography==3.1.1; platform_python_implementation!='CPython'
